.message__icon {
    &-readed {
      position: absolute;
      bottom: 22px;
      left: -25px;

      &--no {
        left: -20px;
      }
    }
    &-actions {
      display: none;
      transform: rotate(90deg);
      position: absolute;
      left: -31px;
      top: -5px;
    }
  }
